@import './variables';

@import './header';
@import './container';
@import './next-appointment';
@import './content';
@import './widgets';
@import './buttons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63.5%;
}

body {
  font-family: 'Inter', sans-serif;
}
