$color-primary: #F6FAFD;
$color-primary-light: #cbcbcb;
$color-primary-dark: #666;
$color-grey-icons: #7E92A2;

$color-widgets-background:#EEF6Fb;
$color-background-primary: rgba(246, 250, 253, 0.9);

$color-purple-primary:#514EF3;
$color-purple-secondary:#605DF4;
$color-purple-light:#ECECFE;

$color-text-primary: #092C4C;
$color-text-secondary: #7E92A2;
$color-marker-important: #FE8084;
$color-marker-succeed: #2DC8A8;